<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CTJB 2019</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="skeleton.css">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>
<body style="margin-bottom: 200px;">

  <div class="container">

  <div class="row">
    <div class="full column" style="margin-top: 20px;">
      <h1>CTJB 2019 Registracie</h1>
    </div>
  </div>

  <div class="row">
    <div class="full column">
      <h4>Dakujeme za registraciu!</h4>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <h5>Platba v Bitcoinoch</h5>
      <table>
      <tr><td>ciastka:</td><td><strong>{{ btc_price }} BTC</strong></td></tr>
      <tr><td>adresa:</td><td><strong>{{ btc_address }}</strong></td></tr>
      </table>
    </div>
    <div class="six columns">
      <img src="{{ btc_qrcode }}" width="205" height="205">
    </div>
  </div>

  <div class="row">
    <div class="eleven columns">
      <p><strong>Neposielame ziadne info o plateni emailom!</strong></p>
      <p>Informacie o ciastke a adrese si ulozte, alebo idealne zaplatte okamzite.</p>
      <p>Po zaplateni a overeni platby zasleme na email PDF listok.</p>
      <p>Potvrdenie a listky posielame raz denne, tak majte strpenie. Dakujeme!</p>
    </div>
  </div>

  <div class="row">
    <div class="eleven columns">
      <h5>Co dalej?</h5>
    </div>
  </div>

  <div class="row">
    <div class="eleven columns">
      <p>Ak si chcete zaregistrovat talk, napiste nam jeho nazov a abstrakt na email <a href="mailto:ctjb@ctjb.net">ctjb@ctjb.net</a></p>
      <p>Sledujte taktiez nas web <a href="https://ctjb.net/">ctjb.net</a>, kde sa postupne budu objavovat zaujimave informacie!</p>
    </div>
  </div>

</body>
</html>
